<div *ngIf="movie" [routerLink]="'/movie/'+movie.id" class="relative w-full h-auto group hover:scale-105 transition-all rounded shadow-xs shadow-[#2A9D8F] hover:cursor-pointer" [title]="movie.title">
  <img [src]="getFullImageUrl('w342',movie.poster_path)" alt="imagen {{movie.title}}" class="aspect-[200/300] w-full h-auto rounded" (load)="onImageLoad()"
    [class.hidden]="!imageLoaded">
    <!-- Spinner -->
    <div *ngIf="!imageLoaded" class="flex items-center justify-center w-30 h-45">
      <span class="loader"></span>
    </div>
</div>