<section id="about" class="relative mt-15 w-full p-4 lg:py-2.5 lg:px-30">
  <div class=" bg-white/80  flex flex-col items-center text-[var(--color-base-azul)] p-4 text-xl rounded">
    <h1 class="text-4xl font-bold mb-8">¿Qué es FilMood?</h1>
    <p class="mb-3 indent-[2rem]"><strong>Filmood</strong> no es solo una app de pelis... es el lugar ideal para descubrir películas según tu estado de ánimo o crear tus propias listas. Nuestra aplicación te permite explorar y encontrar películas perfectas para cada momento.</p>
  
    <p class="mb-3 indent-[2rem]">¿Estás feliz, triste, con ganas de llorar con una historia de amor imposible?, ¿No quieres olvidarte de una peli o simplemente quieres clasificarlas a tu gusto? ¡Genial!, porque en <strong>Filmood</strong> es posible.</p>
  
    <p class="mb-3 indent-[2rem]"><strong>¿Lo mejor?</strong> Cada usuario puede crear sus propios Moods. Sí, una lista personalizada. Crea uno, nómbralo como quieras, agrega las películas que desees y vuelve a ellas cuando te sientas igual de dramático, de romántico o quieras ver pelis con tu Tinder... 😏</p>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-3 mx-4">
      <img src="/images/about1.webp" alt="imagen ejemplo de mod" class="w-max rounded">
      <img src="/images/about2.webp" alt="imagen ejemplo de mod" class="w-max rounded">
    </div>
  
    <p class="mb-5 indent-[2rem]">Conectamos con <strong>The Movie Database (TMDb)</strong> para traerte info actualizada de cada peli, y muy pronto vas a poder compartir tus moods con tus amigos.</p>
  
    <p class="mb-3">Comienza a disfrutar y a crear tus moods cuando quieras!</p>
  </div>
</section>