<header class="z-50 w-full fixed top-0 text-sm lg:text-base">
  <nav class="flex flex-col md:flex-row justify-between items-center gap-4 p-3 lg:py-2.5 lg:px-15 w-full h-auto"
  [ngClass]="showMenu ? 'openMenu':''">
    <div class="flex justify-between items-center w-full md:w-auto">
      <a routerLink="/" class="flex gap-1 items-baseline w-auto hover:cursor-pointer" (click)="closeMenu()">
        <icon-svg name="fm-icon" class="h-7 lg:h-10 w-auto" />
        <icon-svg name="fm-horizontal" class="h-7 lg:h-10 w-auto" />
      </a>

      <button (click)="openClose()" class="md:hidden h-10 hover:cursor-pointer">
        <icon-svg name="menu" class="h-full" />
      </button>
    </div>

    <!-- menu expansible -->
    <div class="md:hidden flex flex-col gap-8 text-2xl items-center py-2 transition-all animate-fade-in" [ngClass]="showMenu ? '':'hidden'">
      <a routerLink="/home" class=" hover:underline" (click)="closeMenu()">INICIO</a>
      <a routerLink="/movies" class=" hover:underline" (click)="closeMenu()">PELÍCULAS</a>
      <a *ngIf="isAuthenticated()" routerLink="/moods" class=" hover:underline" (click)="closeMenu()">MIS MOODS</a>
      <a routerLink="/about" class=" hover:underline" (click)="closeMenu()">SOBRE LA WEB</a>
      <a *ngIf="!isAuthenticated()" routerLink="/login" (click)="closeMenu()" class="md:inline hover:cursor-pointer hover:text-[var(--color-base-turquesa)] hover:underline">Ingresar</a>
      <a *ngIf="isAuthenticated()" type="button" (click)="logout()" (click)="closeMenu()"class="hover:underline md:inline hover:cursor-pointer hover:text-[var(--color-base-turquesa)]">Salir <i class="bi bi-box-arrow-right"></i></a>
    </div>

    <ul class="hidden md:flex md:gap-4 me-auto">
      <li>
        <a routerLink="/home"
          class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">INICIO</a>
      </li>
      <li>
        <a routerLink="/movies"
          class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">PELÍCULAS</a>
      </li>
      <li  *ngIf="isAuthenticated()">
        <a routerLink="/moods"
          class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">MIS MOODS</a>
      </li>
      <li>
        <a routerLink="/about"
          class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">SOBRE LA WEB</a>
      </li>
    </ul>

    <a *ngIf="!isAuthenticated()" routerLink="/login" class="hidden md:inline hover:cursor-pointer hover:text-[var(--color-base-turquesa)]">Ingresar</a>

    <a *ngIf="isAuthenticated()" type="button" (click)="logout()" class="hidden md:inline hover:cursor-pointer hover:text-[var(--color-base-turquesa)]">Salir <i class="bi bi-box-arrow-right"></i></a>

  </nav>
</header>