<header class="z-10 w-full sticky top-0">
  <nav class="flex justify-between items-center gap-4 p-3 md:py-2.5 md:px-15 w-full h-15">
    <a routerLink="/" class="flex gap-1 items-baseline h-full w-auto hover:cursor-pointer">
      <icon-svg name="fm-icon" class="h-10 w-auto" />
      <icon-svg name="fm-horizontal" class="h-7 w-auto" />
    </a>

    <ul class="flex gap-4 items-center">
      <li>
        <a routerLink="/home" class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">Inicio</a>
      </li>
      <li>
        <a routerLink="/movies" class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">Peliculas</a>
      </li>
      <li>
        <a routerLink="/categories" class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">Categorías</a>
      </li>
      <li>
        <a routerLink="/moods" class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">Mis moods</a>
      </li>
      <li>
        <a routerLink="/about" class="hover:text-[var(--color-base-turquesa)] hover:underline underline-offset-2 hover:cursor-pointer">Sobre la web</a>
      </li>
    </ul>
    
    <button class="btn-secondary">Iniciar Sesión</button>

  </nav> 
</header>