<section id="home" class="relative w-full flex flex-col p-4 md:py-2.5 md:px-15">

  <div class="flex flex-col gap-3 mb-5">

    <h1 class="text-xl">Actualmente en cines</h1>
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8">
        <!-- card -->
      <card-movie *ngFor="let movie of actualMovies" [movie]="movie" />
    </div>

  </div>

  <div class="flex flex-col gap-3 mb-5">

    <h1 class="text-xl">Próximamente en cines</h1>
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8">
      <!-- card -->
      <card-movie *ngFor="let movie of commingMovies" [movie]="movie" />
    </div>

  </div>

</section>