<section id="login" class="relative mt-15 w-full h-[70vh] flex flex-col justify-center items-center p-4 lg:py-2.5 lg:px-15">

  <div class="flex flex-col gap-3 items-center w-75">

    <icon-svg name="fm-logo" class="h-30" />

    <form (submit)="login()" [formGroup]="formLogin" class="flex flex-col gap-3 items-center border-b py-3">

      <input type="text" formControlName="username" id="username"
      class="w-75 h-8 bg-white/80 rounded-3xl text-[var(--color-base-azul)] py-2 px-4 text-center"
      placeholder="Ingrese su usuario">
      
      <input type="password" formControlName="password" id="password"
      class="w-75 h-8 bg-white/80 rounded-3xl text-[var(--color-base-azul)] py-2 px-4 text-center"
      placeholder="Ingrese su contraseña">
      
      <p *ngIf="loginError" class="text-red-500 text-[12px]">*Usuario o contraseña incorrectos</p>
      
      <div class="flex gap-3">
        <button type="submit" class="btn-primary w-35">Iniciar sesión</button>
        <a routerLink="/singup" class="btn-secondary w-35 text-center">Registrarse</a>
      </div>

    </form>

    <!-- TO DO... -->
    <a href="http://google.com" target="_blank" class="text-xl bg-white/80 hover:bg-white/90 w-full py-1 rounded-3xl text-[var(--color-base-azul)] flex items-center gap-2 justify-center">
      <i class="bi bi-google"></i>
      <span class="text-sm">Iniciar sesión con Google</span>
    </a>

  </div>

</section>