<section id="movies" class="mt-15 relative w-full flex flex-col p-4 lg:py-2.5 lg:px-15">

  <h1 class="text-center text-4xl font-bold">Busca la pelicula que desees</h1>

  <!-- buscador -->
  <div class="flex justify-center my-5 text-[var(--color-base-petroleo)]">
    <form (submit)="searchMovie()" class="relative">

      <input 
      type="text" 
      class="bg-[var(--color-text)] rounded-3xl w-100 h-10 py-2 ps-4 pe-8 text-[var(--color-base-petroleo)] text-center"
      placeholder="Ingresa el nombre de la película"
      name="inputTitle" 
      [(ngModel)]="inputTitle"
      required>

      <button type="submit" class="text-xl absolute right-2.5 top-1.5 hover:cursor-pointer">
        <i class="bi bi-search h-full w-auto"></i>
      </button>

    </form>
  </div>

  <!-- peliculas encontradas -->
  <div *ngIf="title !== ''" class="flex flex-col gap-4 mb-8">
    <h1 class="text-2xl font-bold">Resultados para {{title}} >></h1>
    <div class="grid gap-4 grid-cols-3 sm:grid-cols-5 md:grid-cols-8 lg:grid-cols-10">
      <!-- card -->
      <card-movie *ngFor="let movie of foundMovies" [movie]="movie" />
    </div>

    <div class="flex justify-center gap-4 items-center">
      <button class="btn-secondary" (click)=" goToPage('prev')" *ngIf="actualPage > 1">Anterior</button>
      <p>Página {{actualPage}} de {{totalPages}}</p>
      <button class="btn-secondary" (click)=" goToPage('next')" *ngIf="actualPage < totalPages">Siguiente</button>
    </div>
  </div>

</section>