@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  --color-base-azul: #040D18;
  --color-base-petroleo: #0A2239;
  --color-base-turquesa: #2A9D8F;
  --color-base-mostaza: #FFC857;
  --color-text: #F8F9FA;
  --color-text-secondary: #6C757D;
}

html {
  font-family: "Poppins";
  color: var(--color-text);
  letter-spacing: 1px;
  background: var(--color-base-azul);
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.btn-secondary {
  background-color: var(--color-base-turquesa);
  font-size: small;
  font-weight: normal;
  color: var(--color-text);
  padding: .4rem 1rem;
  border-radius: 1.5rem;
}

.btn-secondary:hover {
  background-color: #21867A;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-base-mostaza);
  font-size: small;
  font-weight: normal;
  color: var(--color-base-azul);
  padding: .4rem 1rem;
  border-radius: 1.5rem;
}

.btn-primary:hover {
  background-color: #e6b64c;
  cursor: pointer;
}

.btn-card {
  background-color: var(--color-base-mostaza);
  font-size: 10px;
  font-weight: 400;
  color: var(--color-base-azul);
  padding: .2rem .5rem;
  border-radius: 1.5rem;
}

.btn-card:hover {
  background-color: #e6b64c;
  cursor: pointer;
}

.mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.mask-fade-top {
  mask-image: linear-gradient(to top, black 25%, transparent 100%);
}

.mask-fade-x {
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

header {
  background-color: transparent;
  animation: header-blur-scroll 0.3s linear both;
  animation-timeline: scroll();
  animation-range: 0 250px;
  border-bottom: 1px solid transparent;
}

@keyframes header-blur-scroll{
  0%{
    backdrop-filter: blur(0px);
    background: transparent;
  }

  100%{
    backdrop-filter: blur(10px);
    background: rgba(4, 13, 24, .5);
    border-bottom-color: #040D18;
  }
}