<section id="user-mods" class="mt-15 w-full min-h-[85svh] gap-3 p-2 lg:py-2.5 lg:px-15">

  <div
    class="[grid-template:sidebar] bg-gray-400/90 rounded p-4 text-[var(--color-base-azul)] flex flex-col gap-4  overflow-y-auto">
    <h1 class="text-2xl md:text-3xl font-bold">Mis Moods</h1>
    <div class="flex flex-col gap-2">
      <button *ngFor="let mood of userMoods" (click)="selectMood(mood)"
        class="py-2 hover:cursor-pointer rounded shadow" [ngClass]="mood === selectedMood ? 'bg-[var(--color-base-turquesa)] border-2 border-[#21867A] hover:bg-[#21867A]':'bg-white/80 hover:bg-white/90'">{{mood.name}}</button>
      <button *ngIf="!showForm" class="py-2 bg-white/80 hover:bg-white/90 hover:cursor-pointer rounded"
        (click)="newMood()">+ Nuevo Mood</button>
      <input *ngIf="showForm" type="text" class="py-2 bg-white/80 hover:bg-white/90 rounded p-2 text-center mt-3"
        placeholder="Ingrese el nombre" [(ngModel)]="inputName">
      <button *ngIf="showForm"
        class="py-2 bg-[var(--color-base-azul)]/75 hover:bg-[var(--color-base-azul)]/90 hover:cursor-pointer rounded text-[var(--color-text)]"
        (click)="createMood()">Crear</button>
      <button *ngIf="showForm"
        class="py-2 bg-red-500/75 hover:bg-red-500/90 hover:cursor-pointer rounded text-[var(--color-text)]"
        (click)="closeNewMood()">Cancelar</button>
    </div>
  </div>

  <div class="[grid-template:content] bg-gray-400/90 rounded p-4 text-[var(--color-base-azul)] sm:overflow-y-auto">
    <!-- caso de que el mood no este seleccionado -->
    <h2 *ngIf="!selectedMood" class="text-1xl md:text-2xl font-bold">Ningun Mood seleccionado...</h2>

    <!-- detalle del mood seleccionado -->
    <div *ngIf="selectedMood" class="flex flex-col gap-2">

      <div class="flex flex-col">
  
        <div class="flex justify-between items-center gap-2">
          <button class="text-xl md:text-2xl text-red-900/80 hover:text-red-900/100 hover:cursor-pointer hover:scale-105 transition-all" title="Eliminar Mood"
            (click)="deleteMood(selectedMood.id)"><i class="bi bi-trash"></i></button>
  
          <button *ngIf="!selectedMood.private" class="text-xl md:text-2xl text-red-900/80 hover:text-red-900/100 hover:cursor-pointer hover:scale-105 transition-all me-auto" title="Hacer privado"
            (click)="changePrivacity(selectedMood.id)"><i class="bi bi-lock"></i></button>
  
          <button *ngIf="selectedMood.private" class="text-xl md:text-2xl text-green-900/80 hover:text-green-900/100 hover:cursor-pointer hover:scale-105 transition-all me-auto" title="Hacer público"
            (click)="changePrivacity(selectedMood.id)"><i class="bi bi-unlock"></i></button>
  
          <button (click)="closeMood()" class="text-xl md:text-2xl hover:cursor-pointer"><i class="bi bi-x-lg"></i></button>

        </div>
 
        <h2 class="text-1xl md:text-2xl font-bold py-2 items-center">
          {{selectedMood.name}} 
          <span *ngIf="!selectedMood.private" class="text-xs">(público)</span>
          <span *ngIf="selectedMood.private" class="text-sm">(privado)</span>
        </h2>
          
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-4">
        <div class="w-full relative hover:scale-105 group transition-all" *ngFor="let movie of selectedMood.movies">
          <img [src]="getFullImageUrl('w342', movie.poster_path)" alt="imagen {{movie.title}}" class="aspect-[200/300] w-full h-auto rounded">
          <div class="absolute w-full h-full bg-black/70 md:bg-transparent md:hover:bg-black/70 inset-0 rounded transition-all flex items-end md:flex-col md:items-center justify-center md:gap-y-5 gap-x-4 md:gap-x-0">
            <a [routerLink]="'/movie/'+movie.id" class="text-5xl md:text-6xl text-white md:border-b-2 md:opacity-0 group-hover:opacity-100 transition-all">
              <i class="bi bi-info text-yellow-600 hover:saturate-200"></i>
            </a>
            <button (click)="deleteMovie(movie, selectedMood.id)" class="text-3xl md:text-4xl text-white pb-1.5 md:pb-5 md:opacity-0 group-hover:opacity-100 transition-all hover:cursor-pointer">
              <i class="bi bi-trash text-red-800 hover:saturate-150"></i>
            </button>
          </div>
        </div>
        <a routerLink="/movies" class="font-light text-5xl w-full aspect-[200/300] flex items-center justify-center hover:scale-102 group transition-all bg-white/70 rounded hover:bg-white/90 hover:cursor-pointer">+</a>
      </div>

    </div>
  </div>

</section>